<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Funcionário - Xhopii</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header class ="topo">
        <div class ="top_marca">
           <img src="../assets/logo.png" alt="Logo Xhopii">
           <span>Xhopii</span>
        </div>
        <a class = "topo_acao" href=".."
        
        <nav></nav>
    </header>

    <main>
        <section>
            <!-- Formulário de Cadastro de Funcionário -->
        </section>
    </main>

    <footer></footer>
    <script src="../assets/script.js"></script>
</body>
</html>