<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cupom - Xhopii</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header></header>    

    <main class="conteudo">
        <section class="card card--largo" aria-labelledby="titulo-cupom">
            <h1 class="card_titulo" id="titulo-cupom">Cadastrar Cupom</h1>

            <form id="form-cupom" novalidate>
                <div class="campo">
                    <label for="codigo">Código do Cupom</label>
                    <input type="text" id="codigo" name="codigo" placeholder="Código do Cupom" required>
                </div>

                <div class="campo">
                    <label for="percentual">Percentual</label>
                    <input type="number" id="percentual" name="percentual" placeholder="Percentual" min="1" max="100" required>
                </div>

                <div class="campo">
                    <label for="validade">Data de Validade</label>
                    <input type="date" id="validade" name="validade" placeholder="Data de Validade" required>
                </div>

                <div class="campo">
                    <label for="descricao-cupom">Descrição</label>
                    <textarea id="descricao-cupom" name="descricao-cupom" rows ="3" placeholder="Descrição" required></textarea>
                </div>

                <button type="submit" class="btn">Cadastrar</button>
            </form>
        </section>
    </main>

    <footer></footer>
    <script src="../assets/script.js"></script>
    <script>renderHeader(false)</script>
    <script>renderFooter(false)</script>
</body>
</html>