<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Funcionário - Xhopii</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header class ="topo">
        <div class ="top_marca">
           <img src="../assets/logo.png" alt="Logo Xhopii">
           <span>Xhopii</span>
        </div>
        <a class = "topo_acao" href="../index.html">Sair</a>
        
        <nav class="menu" aria-label="menu principal">
        <a href="home.html">Home</a>
        <a href="cadastro-cliente.html">Cadastrar Cliente</a>
        <a href="cadastro-funcionario.html" class="ativo">Cadastrar Funcionario</a>
        <a href="cadastro-produto.html">Cadastrar Produto</a>
        <a href="ver-clientes.html">Ver Cliente</a>
        <a href="ver-funcionarios.html">Ver Funcionário</a>
        <a href="ver-produtos.html">Ver Produto</a>
    </nav>
    
    <main class="conteudo">
        <section class="card card--largo" aria-labelledby="titulo-func">
            <hi class="card_titulo" id="titulo-func">Cadastrar Funcionario</hi>

            <form id="form-funcionario" novalidate>
                <div class="campo">
                    <label for="nome-func">Nome</label>
                    <input type="text" id="nome-func" name="nome" placeholder="Nome" required>
                    
                </div>
            </form>
        </section>
    </main>
    </header>

    <main>
        <section>
            <!-- Formulário de Cadastro de Funcionário -->
        </section>
    </main>

    <footer></footer>
    <script src="../assets/script.js"></script>
</body>
</html>