<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha - Xhopii</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header class="header-login">
        <img src="../assets/img/logo_invertido.png" class="logo">
        <h2>Redefinir senha</h2>
        <a style="color:var(--cor-primaria); margin-left: auto;">Precisa de ajuda?</a>
    </header>

    <main class="redefinir-body">
        <section>
            <!-- Formulário de Redefinição de Senha -->
             <div class="redefinir-base">
                <a href="login.html" style="margin-right: 85%;">
                <img href="login.html" style="height: 30px;" src="../assets/img/seta-esquerda.png"></a>
                <h4 style="margin-top: -40px;">Redefinir senha</h4>
                <input class="redefinir-input" type="text" id="" name="Email" placeholder="Email" required>
                <button 
                style="width: 330px; 
                height: 35px; 
                margin-bottom: 25px;
                background-color: orangered;
                color: white;">Enviar</button>
            </div>
        </section>
    </main>

    <footer></footer>
    <script src="../assets/script.js"></script>
    <script>renderFooter(false)</script>
</body>
</html>