<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Clientes - Xhopii</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header>
        <nav></nav>
    </header>

    <main class="background-cinza">
        <section class="background-conteudo">
            <div class="titulo-grid"><h2>Clientes</h2></div>
            <div class="grid-layout grid-layout--clientes"></div>
        </section>
    </main>

    <footer></footer>
    <script src="../assets/script.js"></script>
    <script>renderHeader(false); renderFooter(false)</script>
    <script>renderGridClientes(clientesExemplo);</script>
</body>
</html>