<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Produtos - Xhopii</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header>
        <nav></nav>
    </header>

    <main class="background-cinza">
        <section class="background-conteudo">
            <div class="titulo-grid"><h2>Produtos</h2></div>
            <div class="grid-layout">
                <div class="card-produto">
                    <img src="../assets/img/camisa/camisa_preta.png">
                    <p class="card-nome-produto">Camisa Desenvolvedor Front-End</p>
                    <div class="card-descricao-produto">
                        <h4>Fabricante:</h4><p>Eletiva Uniformes</p>
                        <h4>Descrição:</h4><p>Uma camisa ideal para progamar por mais de 12 horas.</p>
                    </div>
                    <div class="card-preco-produto">
                        <h4>R$ 59,90</h4><p>171 disponíveis</p>
                    </div>
                </div>    
            </div>
        </section>
    </main>

    <footer></footer>
    <script src="../assets/script.js"></script>
    <script>renderHeader(false); renderFooter(false)</script>
</body>
</html>